@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url(assets/fonts/Open_Sans/OpenSans-Regular.ttf);
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(257, 40%, 49%) url(assets/images/bg-desktop.svg);
    padding: 0 5em;
    height: 100dvh;
}

header {
    display: flex;
    align-items: center;
    height: 25%;
}
main {
    display: flex;
    color: #f3f1f1;
    width: 100%;
    gap: 1em;
}
.left {
    width: 60%;
}
.right {
    width: 40%;
}
.left img{
    height: 100%;
    width: 100%;
}
.right {
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.right h1{
    font-family: "Poppins";
    font-weight: 600;
}
.h1, .p {
    display: flex;
    align-items: center;
}
.right p {
    font-family: "Open Sans";
    font-weight: 400;
}
.right .btn {
    display: flex;
    align-items: start;
    justify-content: start;
}
.right button {
    width: 150px;
    height: 50px;
    font-family: "Poppins";
    font-weight: 400;
    border: 1px solid #5a5a5a;
    border-radius: 30px;
    box-shadow: 2px 2px 20px #00000052;
    cursor: pointer;
}
button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}
footer img:hover {
    border: 1px solid hsl(300, 69%, 71%);
}
footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}
ul {
    display: flex;
    align-items: center;
    gap: 1em;
}
li {
    list-style-type: none;
}
li img {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
    padding: 3px;
    width: 40px;
    height: 40px;
}